<% include _header %>
<div style="width: 70%; margin-right: auto; margin-left: auto; text-align: center;">
    <h2>Welcome on <strong style="font-size: larger;">Restaurus</strong>!</h2>
    <h1></h1>
    <img class="l" src="/images/dino1.png" alt="logo">
    <h1></h1>

</div>
<% include _footer %>