<% include _header %>
<h1 style="text-align: center">List of the registered users</h1>
<h2></h2>

<% users.forEach(function (user) { %>
    <div style="width: 50%; margin-left: auto; margin-right: auto; text-align: center; font-size: large; font-weight: bold;">
        <a href="/users/<%= user._id %>"><%= user.name() %></a>
    </div>
    <br>

<% }) %>
<% include _footer %>